---
// export const prerender = false;
import Layout from "../../layout/Layout.astro";
import Screenshots from '../../components/Screenshots.astro'

// Esta función solo es necesaria en caso de preRendered
export async function getStaticPaths() {

  const response = await fetch(import.meta.env.API_SOFT);
  const getSites = await response.json();

  return getSites.map((sitio) => {
    let slug: string;
    slug = sitio.slug;

    if( sitio.status == 'publish' ){
      
      return {
        params: {
          sitio: slug,
        },
      };

    }

  });
}

const { sitio } = Astro.params;
const response = await fetch(import.meta.env.API_SOFT);
const getSites = await response.json();
const currSite = getSites.find((site) => site.slug == sitio);


---
<Layout
  title={` Actualización de Software • ${currSite.acf.site} — ${currSite.acf.fecha}`}
  claim=""
  description={`Reporte de Actualización de Software realizado el ${currSite.acf.fecha}, en el sitio web ${currSite.acf.site}`}
>
  <div class="container pt-10 xg:pt-0">

    <section id="tasks" class="row scroll-case section-b md:mb-5 xg:mb-0">
      <div class="xg:col-[1/5] hidden xg:flex items-end">
        <p class="text-tiny">
          Todas las actualizaciones registradas en este informe pueden ser verificadas accediendo al administrador de Wordpress. Es importante tener presente, que tanto los plugins como los temas(themes), emiten actualizaciones periódicamente, por lo cual, puede suceder que la actualización registrada en este informe, no sea la última en el momento de acceder al sitio.
        </p>
      </div>
      <div class="col-[1/5] md:col-[1/13] xg:col-[7/13] pl-2 xg:pl-0">
        <h2 class="text-h3 font-extrabold mb-2">Tareas realizadas:</h2>
        <Fragment set:html={ currSite.acf.tasks }> </Fragment>
      </div>
    </section>

    {
      currSite.acf.caso.map((caso) =>{

        let src = {
          before_img : caso.before_img, 
          after_img : caso.after_img
        };

        return <Screenshots
          caseId={caso.acfe_flexible_layout_title}
          src={src}
          before={caso.before_txt}
          title={caso.acfe_flexible_layout_title}
          after={caso.after_txt}
        />
      }
    )
    }
  </div>
</Layout>
